<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Trace to logfile -->
        <add name="LoggerListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\\server.log" />
        <!-- Trace to Event Log -->
        <!--<add name="LoggerListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Hsfl.Ceho5518.DistributedSystems.Logs" />-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>